/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.23, autoprefixer: v9.7.3) */


/* Style */
html{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body {
    background: #0d0905;
}

h1, h2{
    color: #23190E;
    font-size: 0.1rem;
    display: inline;
}
/* Box Model */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


/* Type */

body {
    color: #e0cdba;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    font-weight: 300;
    /* line-height: 0.3; */
}

/* Title */
    #header{
        margin: 0;
        padding: 0;
        height: 58rem;
        text-align: center;
        position: relative;
        
    }

        /* Demoreel */
            #demo{
                margin: 0;
                padding: 0;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
            }
                #demo .background{
                    background: black;
                    width: 972px;
                    height: 546px;
                    position: absolute;
                    margin: 0 auto;
                }
                #demoImage{
                    position: absolute;
                    margin: 0 auto;
                    /* visibility: hidden; */
                    opacity: 0;
                    -webkit-animation: demoImageAni 3.5s ease-in;
                            animation: demoImageAni 3.5s ease-in;
                }
                @-webkit-keyframes demoImageAni {
                    0% {
                       opacity: 1;
                        }
                    75% {
                        opacity: 1;
                        }
                    100% {
                        opacity: 0;
                        }
                    }
                @keyframes demoImageAni {
                    0% {
                       opacity: 1;
                        }
                    75% {
                        opacity: 1;
                        }
                    100% {
                        opacity: 0;
                        }
                    }
                #demoVideo{
                    position: absolute;
                    margin: 0 auto;
                    z-index: 3;
                    /* visibility: hidden; */
                    -webkit-animation: visibleVideo 3.4s;
                            animation: visibleVideo 3.4s;
                }
                @-webkit-keyframes visibleVideo{
                    0%, 99%{visibility: hidden;}

                    100% {visibility: visible;}
                    
                }
                @keyframes visibleVideo{
                    0%, 99%{visibility: hidden;}

                    100% {visibility: visible;}
                    
                }
                

        /* Name */
            #nameContainerMask{
            display: inline-block;
            position: absolute;
            margin: 0;
            padding: 0;
            -webkit-transform: translate(-50%,0);
                -ms-transform: translate(-50%,0);
                    transform: translate(-50%,0);
            z-index: 1;
            opacity: 0;
            /* visibility: hidden; */
            -webkit-animation: nameContainerMaskAni 3s cubic-bezier(0.78,-0.01, 0.3, 1.01);
                    animation: nameContainerMaskAni 3s cubic-bezier(0.78,-0.01, 0.3, 1.01); /* this animation must be th same as lineAniContainer  */
            }

            @-webkit-keyframes nameContainerMaskAni{
                0%,10%{
                        -webkit-clip-path: inset(120px 0 0 0);
                                clip-path: inset(120px 0 0 0);
                        opacity: 1;
                    }
                30%{
                        -webkit-clip-path: inset(440px 0 0 0);
                                clip-path: inset(440px 0 0 0);
                        opacity: 1;
                } 
                60%, 100%{
                        -webkit-clip-path: inset(100% 0 0 0);
                                clip-path: inset(100% 0 0 0);
                        opacity: 0;
                }
            }

            @keyframes nameContainerMaskAni{
                0%,10%{
                        -webkit-clip-path: inset(120px 0 0 0);
                                clip-path: inset(120px 0 0 0);
                        opacity: 1;
                    }
                30%{
                        -webkit-clip-path: inset(440px 0 0 0);
                                clip-path: inset(440px 0 0 0);
                        opacity: 1;
                } 
                60%, 100%{
                        -webkit-clip-path: inset(100% 0 0 0);
                                clip-path: inset(100% 0 0 0);
                        opacity: 0;
                }
            }

            #nameContainer {
                position: absolute;
                display: inline-block;
                text-align: center;
                -webkit-transform: translate(-50%, 590px);
                    -ms-transform: translate(-50%, 590px);
                        transform: translate(-50%, 590px);
                -webkit-animation: nameContainerAni 3s cubic-bezier(0.78,-0.01, 0.3, 1.01);
                        animation: nameContainerAni 3s cubic-bezier(0.78,-0.01, 0.3, 1.01);
            }
                @-webkit-keyframes nameContainerAni{
                    0%{
                        -webkit-transform: translate(-50%,300px);
                                transform: translate(-50%,300px);
                    }
                    30%{
                        -webkit-transform: translate(-50%,80px);
                                transform: translate(-50%,80px);
                    }
                    80%{
                        -webkit-transform: translate(-50%,600px);
                                transform: translate(-50%,600px);
                    }
                    100%{
                        -webkit-transform: translate(-50%,590px);
                                transform: translate(-50%,590px);
                    }
                }
                @keyframes nameContainerAni{
                    0%{
                        -webkit-transform: translate(-50%,300px);
                                transform: translate(-50%,300px);
                    }
                    30%{
                        -webkit-transform: translate(-50%,80px);
                                transform: translate(-50%,80px);
                    }
                    80%{
                        -webkit-transform: translate(-50%,600px);
                                transform: translate(-50%,600px);
                    }
                    100%{
                        -webkit-transform: translate(-50%,590px);
                                transform: translate(-50%,590px);
                    }
                }

                #name{
                    margin: 0;
                    padding: 0;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                    z-index: 1;
                    min-width: 1000px;
                    color: #e0cdba;
                    font-family: 'Playfair Display', serif;
                    font-size: 1rem;
                    font-weight: 300;

                    /* visibility: hidden; */
                }
                    #sophia{
                        padding: 0,1em,0,1em;
                    }

                    #name .largeFont {
                        font-size: 110px;
                        font-weight: 300;
                        color: #e0cdba;
                        -ms-flex-item-align: baseline;
                            align-self: baseline;
                        
                    }
                    #name .smallFont {
                        font-size: 45px;
                        font-weight: 300;
                        color: #e0cdba;
                        padding: 0;
                        margin: 0;
                        -ms-flex-item-align: baseline;
                            align-self: baseline;
                    }
                
                    
                
        /* Line */
            #lineContainer{
                position: absolute;
                display: inline-block;
                -webkit-transform: translate(-50%,800px);
                    -ms-transform: translate(-50%,800px);
                        transform: translate(-50%,800px);
                -webkit-animation: lineAniContainer 3s cubic-bezier(0.78,-0.01, 0.3, 1.01);
                        animation: lineAniContainer 3s cubic-bezier(0.78,-0.01, 0.3, 1.01);
                z-index: 2;
            }
                @-webkit-keyframes lineAniContainer{
                    0%,10%{
                        -webkit-transform: translate(-50%, 120px);
                                transform: translate(-50%, 120px);
                        }
                    30%{
                        -webkit-transform: translate(-50%, 440px);
                                transform: translate(-50%, 440px);
                    } 
                    60%{
                        -webkit-transform: translate(-50%, 200px);
                                transform: translate(-50%, 200px);
                    }
                    90%{
                        -webkit-transform: translate(-50%, 810px);
                                transform: translate(-50%, 810px);
                    }
                    100%{
                        -webkit-transform: translate(-50%, 800px);
                                transform: translate(-50%, 800px);
                            
                    }
                }
                @keyframes lineAniContainer{
                    0%,10%{
                        -webkit-transform: translate(-50%, 120px);
                                transform: translate(-50%, 120px);
                        }
                    30%{
                        -webkit-transform: translate(-50%, 440px);
                                transform: translate(-50%, 440px);
                    } 
                    60%{
                        -webkit-transform: translate(-50%, 200px);
                                transform: translate(-50%, 200px);
                    }
                    90%{
                        -webkit-transform: translate(-50%, 810px);
                                transform: translate(-50%, 810px);
                    }
                    100%{
                        -webkit-transform: translate(-50%, 800px);
                                transform: translate(-50%, 800px);
                            
                    }
                }

                #lineContainer .line{
                    position: static;
                    width: 800px;
                    height: 3px;
                    margin: 0;
                    background: #e0cdba;
                    -webkit-transform-origin: left;
                        -ms-transform-origin: left;
                            transform-origin: left; 
                    -webkit-animation: lineAni 5s; 
                            animation: lineAni 5s;
                } 
                    @-webkit-keyframes lineAni{
                        0%{
                            -webkit-transform: 
                                scale(0, 1);
                                    transform: 
                                scale(0, 1);
                        }
                        10%{
                            -webkit-transform: 
                                scale(1, 1);
                                    transform: 
                                scale(1, 1)
                        }
                    } 
                    @keyframes lineAni{
                        0%{
                            -webkit-transform: 
                                scale(0, 1);
                                    transform: 
                                scale(0, 1);
                        }
                        10%{
                            -webkit-transform: 
                                scale(1, 1);
                                    transform: 
                                scale(1, 1)
                        }
                    }
        
        /* info */
            #info {
                position: absolute;
                display: inline-block;
                min-width: 800px;
                font-size: 1.2m;
                padding: 0px;
                -webkit-transform: translate(-50%,850px);
                    -ms-transform: translate(-50%,850px);
                        transform: translate(-50%,850px);
                -webkit-animation: infoAni 3s cubic-bezier(0.78,-0.01, 0.3, 1.01);
                        animation: infoAni 3s cubic-bezier(0.78,-0.01, 0.3, 1.01);
                
            }
            @-webkit-keyframes infoAni{
                0%, 5%{
                    -webkit-transform: translate(-50%,480px);
                            transform: translate(-50%,480px);
                }
                35%{
                    -webkit-transform: translate(-50%,300px);
                            transform: translate(-50%,300px);
                }
                80%{
                    -webkit-transform:
                            translate(-50%,860px);
                            transform:
                            translate(-50%,860px);
                }
                100%{
                    -webkit-transform: translate(-50%,850px);
                            transform: translate(-50%,850px);
                }
            }
            @keyframes infoAni{
                0%, 5%{
                    -webkit-transform: translate(-50%,480px);
                            transform: translate(-50%,480px);
                }
                35%{
                    -webkit-transform: translate(-50%,300px);
                            transform: translate(-50%,300px);
                }
                80%{
                    -webkit-transform:
                            translate(-50%,860px);
                            transform:
                            translate(-50%,860px);
                }
                100%{
                    -webkit-transform: translate(-50%,850px);
                            transform: translate(-50%,850px);
                }
            }
                
                #info .smallFont{
                    display: inline;
                    padding-left: 20px;
                    padding-right: 20px;
                    }
        
        /* text Mask */
            #textMask{
                margin: 0;
                padding: 0;
                position: absolute;
                top: 0;
                left: 50%;
                -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                        transform: translateX(-50%);
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                display: block;
                text-align: center;
            }
                #textMask .image{
                    opacity: 0;
                    -webkit-animation: textMaskAni 2s;
                            animation: textMaskAni 2s;
                }
                @-webkit-keyframes textMaskAni{
                    0%, 95%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                }
                @keyframes textMaskAni{
                    0%, 95%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                }



/* holly */
#holly{            
    display: -webkit-box;            
    display: -ms-flexbox;            
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    padding: 0;
}
    /* holly Nav */
    #hollyNav{
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-negative: 1;
            flex-shrink: 1; 
        -webkit-box-flex: 1; 
            -ms-flex-positive: 1; 
                flex-grow: 1;
        display: block;

    }
    

        /* icons */
        #hollyNav img{
            width: 4em;
            height: 4em;
            margin: 20px;
            float: right;
            display: block; 
        }
        @media(max-width:1100px){
            #hollyNav img{
                display: none;
            }
        }

    
    /* holly main */
    #hollyMain{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-preferred-size: 1020px;
            flex-basis: 1020px;
        /* flex-shrink: 0;
        flex-grow: 1;
        width: 65rem; */
    }


        /* Thumbnails */
        .thumbnails {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            margin: 0 0 4rem;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;

        }

            .thumbnails > div {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                position: relative;
            }
                .thumbnails > div > section{
                    display: inline-block;
                    position: relative;
                    width: 63rem;
                    height: 27rem;
                }
            .thumbnails a {
                -webkit-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
                transition: all 0.2s ease;
                border: none;
                display: block;
                width: 37rem;  /* this is images size */
                cursor: pointer;
                outline: 0;
                overflow: cover;
            }
                .thumbnails .thumbnailText{
                    z-index: -1;
                    padding: 2rem 2rem 2rem 38rem;
                }
                .thumbnails a img {
                    width: 100%;
                }
                    .thumbnails a:hover {
                        background-color: rgba(255, 255, 255, 0.25);
                        -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25), 0 0 0.5em 0 #FF6382;
                                box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25), 0 0 0.5em 0 #FF6382;
                    }
    
            .thumbnails h3 {
                font-size: 1.4rem;
                font-weight: 300;
                margin: 1rem;
                z-index: 4;
            }


            #demoreel{

            }
                #demoreel a{ 
                    padding:1rem;
                    border: 0.1rem solid #381910;
                }
        
            #lighting{
            }
                #lighting .thumbnailText{
                    border: 0.2rem dotted #46311D;
                    top:1rem;
                    left: 1rem;
                    position: absolute;
                }


                
    /* holly asdie  */
    #hollyAside{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 25em;
        margin-right: 7em;
        -ms-flex-negative: 1;
            flex-shrink: 1;  
        -webkit-box-flex: 1;  
            -ms-flex-positive: 1;  
                flex-grow: 1;
        display: block;        /*this, and above one make icone right */
    }