@font-face{
  font-family: 'GathaSans';
  src: url(../fonts/GathaSans.ttf);
}

*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
canvas{
  display: block;
}
:root{
  --backgroundColor:rgba(20, 20, 20, 1);
  --nameMaxMediaQuery:45vw;
  --nameContainerHeight:27%;
  --videoDemoWidth:67%;
  --videoDemoWidthMediaQuery:80%;
  --botMinHeight:30vw;
  --topHeight:6.3vw;
  --topHeight1100:80px;
  --subMenuNeonDuration:1.5s;
  --maxWidth : 1400px;

  --bordersSize:10vw;
  --bordersSmallSize:4rem;
  --borderSize800: 7rem;
  --borderSize1400: 8.7rem;
}
/* @media (max-width:800px){
  :root{
    --bordersSize: 7rem;
  }
}
@media (min-width:1400px){
  :root{
    --bordersSize: 8.7rem;
  }
} */



html,body{
  width: 100%;
  height: 100%;
}
body{
  background: var(--backgroundColor);
}


/*   Fonts   */
#bottom div{
  font-family: 'Text Me One', sans-serif;
}
#skill div{
  font-family: 'Quicksand', sans-serif;
}


#loaderContainer{
  position: absolute;
  top: 0;
  left: 0;  
  width: 100%;
  height: 100%;
  background:var(--backgroundColor);
  opacity: 0.9;
  display: flex;
  justify-content: center;
  z-index: 3;
}
  #loader {
    align-self: center;
    color: #FFF;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    letter-spacing: 4px;
  }
  #loader::before {
    content: '';
    position: absolute;
    right: 70px;
    bottom: 10px;
    height: 28px;
    width: 5.15px;
    background: currentColor;
  }
  #loader::after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    left: 125px;
    top: 2px;
    border-radius: 50%;
    background: red;
    animation: loaderAnim 1s ease-in infinite;
  }
  @keyframes loaderAnim {
    0% {
      transform: translateY(8px) scaleY(1) scaleX(1.25);
    }
    25%, 75% {
      transform: translateY(-5px) scaleY(1.2) scaleX(1);
    }
    50% {
      transform: translateY(-10px) scaleY(1) scaleX(1);
    }
    100% {
      transform: translateY(8px) scaleY(0.8) scaleX(0.8);
    }
  }
/* ------------------- */
  

  #threejsBlocker{
    background:var(--backgroundColor);
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  #threeJS{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
  }
  #threeJS::after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 10%;
    background:linear-gradient(black, transparent);
  }
  #threeJS canvas{
    height:100%;
  }






  #master{
    width: 100%;
    height: 100%;
    min-width: 20rem;
    max-width: 1400px;
    min-height: var(--botMinHeight);
    /* text-align: center; */
    margin: auto;
    color:white;
    box-sizing: border-box;
    /* display:grid; */
    /* grid-template-rows: auto 1fr; */
    /* overflow-x: hidden; */
  }
  @media (max-width:800px){
    #master{
      display: grid;
      grid-template-rows:auto 1fr;
    }
  }

  #topMenu{
    width: inherit;
    height: inherit;
    max-width: inherit;
    position: absolute;
    top: 0;
    min-height: var(--botMinHeight);
  }
    @media (max-width:800px){
      #topMenu{
        position: relative;
        height: auto;
        min-height: 0;
        padding: 0.8rem;
      }
    }


    #topMenu #nameContainer{
      display: flex;
      width: 50%;
      height: var(--nameContainerHeight);
      justify-content: center;
      align-items: flex-end;
    }
    @media (max-width:800px){
      #topMenu #nameContainer{
        width: 100%;
        text-align: center;
        height: 100%;
      }
    }
    /* @media (min-width:1400px){
      #topMenu #nameContainer{
        text-align: center;
      }
    } */


    #topMenu #nameContainer #name{
      z-index: 2;
      cursor: pointer;
      text-align: center;
      width:var(--videoDemoWidth);
    }

    @media (max-width:800px){
      #topMenu #nameContainer #name{
        width: var(--nameMaxMediaQuery);
      }
    }

    #topMenu #nameContainer #name img:nth-child(1){
      width:90%;
      padding: 0.7rem;
    }

    @media (max-width:800px){
      #topMenu #nameContainer #name img:nth-child(1){
        display: none;
      }
    }
    #topMenu #nameContainer #name img:nth-child(2){
      width: auto;
    }


   









  #bottom{
    display:flex;
    min-height: var(--botMinHeight);
    height: 100%;
  }
    @media (max-width:800px){
      #bottom{
        display: grid;
        grid-template-rows: auto 1fr;
        min-height: 110vw;
      }
    }

    #bottom #demo, #bottomMenu{
      width:50%;
    }
      @media (max-width:800px){
        #bottom #demo,#bottomMenu{
          width:100%;
        }
      }
    #bottom #demo{
      position: relative;
      text-align: center;
      display: flex;
    } 
    @media (max-width:800px){
      #bottom #demo{
        width: 100%;
      }
    }

    #bottom #demo #demoVideo{
        width: var(--videoDemoWidth);
        height: 100%;
        margin: auto;
        box-sizing: content-box;
        position: relative;
        --borderWidth: 0.5vw;
      }
      @media (max-width:800px){
        #bottom #demo #demoVideo{
          width: var(--videoDemoWidthMediaQuery);
          /* width: 100%; */
          --borderWidth: 0.7vw;
        }
      }
      @media (min-width:1100px){
        #bottom #demo #demoVideo{
          --borderWidth: 5.5px;
        }
      }
        #bottom #demo #demoVideo iframe{
          width:100%;
          height:100%;
          border-radius: 5px;
        }

        #bottom #demo #demoVideo #demoVideoRainbow{
          height: inherit;
          position: absolute;
          top:0;
          left:0;
          z-index: -1;
          top: calc(-1 * var(--borderWidth));
          left: calc(-1 * var(--borderWidth));
          height: calc(100% + var(--borderWidth) * 2);
          width: calc(100% + var(--borderWidth) * 2);
          background: linear-gradient(60deg, #f71c69, #37a6f6, #faa847, #bf94a2, #a68312, #7eaee4, #83072d);
          border-radius: 5px;
          background-size: 300% 300%;
          filter: contrast(1.5);
          mix-blend-mode: hard-light;
          animation: animatedgradient 3s ease alternate infinite;
        }  
        @media (max-width:800px){
          #bottom #demo #demoVideo #demoVideoRainbow{
            filter: none;
          }
        }

        @keyframes animatedgradient {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        } 



      #bottom #demo img{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
      @media (max-width:800px){
        #bottom #demo img{
          display: none;
        }
      }
      


      #bottom #bottomMenu{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-grow: 1;
        flex-shrink: 0;
        padding: 1.5vw;
      }
      @media (max-width:800px){
        #bottom #bottomMenu{
          padding: 10px;
        }
      }
      @media (min-width:1400px){
        #bottom #bottomMenu{
          padding: 30px;
        }
      }



        #bottom #bottomMenu > li{
          width:50%;
          display: flex;
          cursor: pointer;
          padding :0.8vw;
          list-style:none;
          height:50%;
          position: relative;
          min-height: 11.5vw;
        }
        @media (max-width:800px){
          #bottom #bottomMenu > li{
            padding :0.5rem;
          }
        }
        @media (min-width:1100px){
          #bottom #bottomMenu > li{
            padding :9px;
          }
        }



        #bottom #bottomMenu > li .borders{
          /* width: var(--bordersSize);
          height: var(--bordersSize); */
          display:grid;
          text-align: center ;
          position: relative;
          font-size:2vw;
          align-items: center;
          z-index: 2;
        }
        @media (max-width:800px){
          #bottom #bottomMenu > li .borders{
            font-size: 1.5rem;
          }
        }
        @media (min-width:1400px){
          #bottom #bottomMenu > li .borders{
            font-size: 1.8rem;
          }
        }


        #bottom #bottomMenu > li .borders .neon{
          width: inherit;
          height: inherit;
          border-radius: inherit;
          position: absolute;
        }
        /* #bottom #bottomMenu > li .borders:hover{
          border-radius: 10px;
          box-shadow:
          0 0px 1px rgba(255, 255, 255, 0.404),
          0 0px 3.4px rgba(255, 255, 255, 0.596),
          0 0px 15px rgba(255, 255, 255, 1),
          inset 0 0px 1px rgba(255, 255, 255, 0.404),
          inset 0 0px 3.4px rgba(255, 255, 255, 0.596),
          inset 0 0px 15px rgba(255, 255, 255, 1);
        
        } */
          #bottom #bottomMenu > li .borders svg{
            position: absolute;
          }
          
            #bottom #bottomMenu > li .borders svg rect{
              stroke-width: 0.5vw;
            }
            @media (max-width:800px){
              #bottom #bottomMenu > li .borders svg rect{
                stroke-width: 0.3rem;
              }
            }
            @media (min-width:1100px){
              #bottom #bottomMenu > li .borders svg rect{
                stroke-width: 5.5px;
              }
            }
  

          #bottom #bottomMenu > li .borders .text{
            position: relative;
          }
          
          #bottom #bottomMenu #work{
            justify-content: flex-end;
          }

          #bottom #bottomMenu #work .borders{
            align-self: flex-end;
            /* transition-duration: var(--subMenuNeonDuration);
            transition: box-shadow ease-in-out; */
          }

         

        
          #bottom #bottomMenu li .contents{
            position: absolute;
            top: 20px;
            left: 20px;
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            overflow-y: auto;
            overflow-x: hidden;
            padding: 0.4rem;
            /* z-index: 3; */
          }
            @media (max-width:800px){
              #bottom #bottomMenu li .contents{
                width: calc(100% - 40px);
              }
            }
            #bottom #bottomMenu li .contents::-webkit-scrollbar {
              width: 8px;
              border: black 2px solid;
            }
            
            #bottom #bottomMenu li .contents::-webkit-scrollbar-thumb {
              border-radius: 4px;
              background: rgba(255,255,255, 0.5);
              border: white solid 2px;
            }
            #bottom #bottomMenu li .contents::-webkit-scrollbar-track {
              background: linear-gradient(#d4742b,#dc3323);
            }


        #bottom #bottomMenu #skill{
          justify-content: flex-start;
        }
          #bottom #bottomMenu #skill .borders{
            align-self:flex-end;
            border:none;
          }


        #bottom #bottomMenu #paint{
          justify-content: flex-end;
          
        }
          #bottom #bottomMenu #paint .borders{
            align-self: flex-start;
            border:none;
          }


        #bottom #bottomMenu #info{
          justify-content: flex-start;
          
        }
        #bottom #bottomMenu #info .borders{
            align-self: flex-start;
            border:none;
          }
#stats{
  position: absolute;
}



/* additional css for js */
.menutransition{
  transition: width 1s  cubic-bezier(.59,.01,.72,1.04), height 1s  cubic-bezier(.59,.01,.72,1.04), flex 1s  cubic-bezier(.59,.01,.72,1.04), max-width 1s  cubic-bezier(.59,.01,.72,1.04);
}
.loaderFadeOutTrans{
  transform: scale(2);
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
.blurSVG{
  filter:blur(3px);
}


.fontMinSOPHIA{
  font-size: 6vw !important;
}



.borderCover{
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.borderCoverWhite{
  opacity: 1 !important;
}





/* -----------------------------------WORK NEON------------------------------------------ */
.workNeon1{
  animation: workNeon1Ani var(--subMenuNeonDuration) ease-in-out infinite alternate;
  --workColor1 : rgba(220, 51, 35, 0.4);
}
  @keyframes workNeon1Ani {
    from {
      box-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        -3px -3px 20px var(--workColor1),
        -6px -6px 35px var(--workColor1),
        -10px -10px 40px var(--workColor1),
        inset 3px 3px 10px var(--workColor1),
        inset 3px 3px 17px var(--workColor1),
        inset 3px 3px 20px var(--workColor1);
    }
    to {
      box-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        -3px -3px 10px var(--workColor1),
        -6px -6px 17px var(--workColor1),
        -10px -10px 20px var(--workColor1),
        inset 3px 3px 5px var(--workColor1),
        inset 3px 3px 8px var(--workColor1),
        inset 3px 3px 10px var(--workColor1);
    }
  }
.workNeon2{
  animation: workNeon2Ani var(--subMenuNeonDuration) ease-in-out infinite alternate;
  --workColor2 : rgba(212, 116, 43, 0.4);
}
  @keyframes workNeon2Ani {
    from {
      box-shadow:
        3px 3px 20px var(--workColor2),
        6px 6px 35px var(--workColor2),
        10px 10px 40px var(--workColor2),
        inset -3px -3px 10px var(--workColor2),
        inset -3px -3px 17px var(--workColor2),
        inset -3px -3px 20px var(--workColor2);
    }
    to {
      box-shadow:
        3px 3px 10px var(--workColor2),
        6px 6px 17px var(--workColor2),
        10px 10px 20px var(--workColor2),
        inset -3px -3px 5px var(--workColor2),
        inset -3px -3px 8px var(--workColor2),
        inset -3px -3px 10px var(--workColor2);
    }
  }
/* -----------------------------------SKILL NEON------------------------------------------ */
.skillNeon1{
  animation: skillNeon1Ani var(--subMenuNeonDuration) ease-in-out infinite alternate;
  --skillColor1 :rgba(168, 63, 209, 0.4);
}
  @keyframes skillNeon1Ani {
    from {
      box-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        3px -3px 20px var(--skillColor1),
        6px -6px 35px var(--skillColor1),
        10px -10px 40px var(--skillColor1),
        inset -3px 3px 10px var(--skillColor1),
        inset -3px 3px 17px var(--skillColor1),
        inset -3px 3px 20px var(--skillColor1);
    }
    to {
      box-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        3px -3px 10px var(--skillColor1),
        6px -6px 17px var(--skillColor1),
        10px -10px 20px var(--skillColor1),
        inset -3px 3px 5px var(--skillColor1),
        inset -3px 3px 8px var(--skillColor1),
        inset -3px 3px 10px var(--skillColor1);
    }
  }
.skillNeon2{
  animation: skillNeon2Ani var(--subMenuNeonDuration) ease-in-out infinite alternate;
  --skillColor2 :rgba(192, 49, 91, 0.4);
}
  @keyframes skillNeon2Ani {
    from {
      box-shadow:
        -3px 3px 20px var(--skillColor2),
        -6px 6px 35px var(--skillColor2),
        -10px 10px 40px var(--skillColor2),
        inset 3px -3px 10px var(--skillColor2),
        inset 3px -3px 17px var(--skillColor2),
        inset 3px -3px 20px var(--skillColor2);
    }
    to {
      box-shadow:
        -3px 3px 10px var(--skillColor2),
        -6px 6px 17px var(--skillColor2),
        -10px 10px 20px var(--skillColor2),
        inset 3px -3px 5px var(--skillColor2),
        inset 3px -3px 8px var(--skillColor2),
        inset 3px -3px 10px var(--skillColor2);
    }
  }
/* -----------------------------------PAINT NEON------------------------------------------ */
.paintNeon1{
  animation: paintNeon1Ani var(--subMenuNeonDuration) ease-in-out infinite alternate;
  --paintColor1 :rgba(225, 149, 46, 0.4);
}
  @keyframes paintNeon1Ani {
    from {
      box-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        3px -3px 20px var(--paintColor1),
        6px -6px 35px var(--paintColor1),
        10px -10px 40px var(--paintColor1),
        inset -3px 3px 10px var(--paintColor1),
        inset -3px 3px 17px var(--paintColor1),
        inset -3px 3px 20px var(--paintColor1);
    }
    to {
      box-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        3px -3px 10px var(--paintColor1),
        6px -6px 17px var(--paintColor1),
        10px -10px 20px var(--paintColor1),
        inset -3px 3px 5px var(--paintColor1),
        inset -3px 3px 8px var(--paintColor1),
        inset -3px 3px 10px var(--paintColor1);
    }
  }
.paintNeon2{
  animation: paintNeon2Ani var(--subMenuNeonDuration) ease-in-out infinite alternate;
  --paintColor2 :rgba(48, 171, 152, 0.4);
}
  @keyframes paintNeon2Ani {
    from {
      box-shadow:
        -3px 3px 20px var(--paintColor2),
        -6px 6px 35px var(--paintColor2),
        -10px 10px 40px var(--paintColor2),
        inset 3px -3px 10px var(--paintColor2),
        inset 3px -3px 17px var(--paintColor2),
        inset 3px -3px 20px var(--paintColor2);
    }
    to {
      box-shadow:
        -3px 3px 10px var(--paintColor2),
        -6px 6px 17px var(--paintColor2),
        -10px 10px 20px var(--paintColor2),
        inset 3px -3px 5px var(--paintColor2),
        inset 3px -3px 8px var(--paintColor2),
        inset 3px -3px 10px var(--paintColor2);
    }
  }
/* -----------------------------------INFO NEON------------------------------------------ */
.infoNeon1{
  animation: infoNeon1Ani var(--subMenuNeonDuration) ease-in-out infinite alternate;
  --infoColor1 :rgba(200, 86, 177, 0.4);
}
  @keyframes infoNeon1Ani {
    from {
      box-shadow:
        0 0 10px #fff,
        0 0 20px #fff,
        -3px -3px 20px var(--infoColor1),
        -6px -6px 35px var(--infoColor1),
        -10px -10px 40px var(--infoColor1),
        inset 3px 3px 10px var(--infoColor1),
        inset 3px 3px 17px var(--infoColor1),
        inset 3px 3px 20px var(--infoColor1);
    }
    to {
      box-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        -3px -3px 10px var(--infoColor1),
        -6px -6px 17px var(--infoColor1),
        -10px -10px 20px var(--infoColor1),
        inset 3px 3px 5px var(--infoColor1),
        inset 3px 3px 8px var(--infoColor1),
        inset 3px 3px 10px var(--infoColor1);
    }
  }
.infoNeon2{
  animation: infoNeon2Ani var(--subMenuNeonDuration) ease-in-out infinite alternate;
  --infoColor2 : rgba(75, 173, 209, 0.4);
}
  @keyframes infoNeon2Ani {
    from {
      box-shadow:
        3px 3px 20px var(--infoColor2),
        6px 6px 35px var(--infoColor2),
        10px 10px 40px var(--infoColor2),
        inset -3px -3px 10px var(--infoColor2),
        inset -3px -3px 17px var(--infoColor2),
        inset -3px -3px 20px var(--infoColor2);
    }
    to {
      box-shadow:
        3px 3px 10px var(--infoColor2),
        6px 6px 17px var(--infoColor2),
        10px 10px 20px var(--infoColor2),
        inset -3px -3px 5px var(--infoColor2),
        inset -3px -3px 8px var(--infoColor2),
        inset -3px -3px 10px var(--infoColor2);
    }
  }