
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px,1fr));
    background: rgb(10, 10, 10, 0.7);
    padding:0.7vw;
    /* margin-bottom: 1vw; */
}
@media (max-width:800px){
    .projects{
        padding:0.3vw;
        grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    }
}
.projects img{
    border-radius: 1vw;
}


    .mainContent{
        max-width:100%;
        grid-row: span 2;
        grid-column: span 2;
    }
    .subContent{
        max-width:100%;
    }


.lineImgs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    background: rgba(10, 10, 10, 0.7);
}
@media (min-width:2500px){
    .lineImgs{
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
   
    }
}

.lineImgs img{
    border-radius: 20px;
    padding: 0.1vw;
}
@media (min-width:2500px){
    .lineImgs img{
        padding: 3px;
    }
}



/* .wishingBoxName{
    background: rgba(10, 10, 10, 0.5);
}
.giant_thumbnails{
    background: rgba(10, 10, 10, 0.3);
} */