*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#body{
  display:flex;
  flex-direction: row;
  background:rgba(11, 11, 11, 1);
  color:white;
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  box-sizing: border-box;
  /* transition: grid-template-columns 1s ease-in-out; */
}

img{
  max-width: 100%;
  max-height: 100%;
}
/*   Fonts   */
div{
  font-family: 'Text Me One', sans-serif;
  font-size: 18px;
}

   #menu{
    flex-grow: 0;
    flex-shrink: 0;
    width: 50%;
    /* flex-grow:1; */
    /* transition: width 1s linear; */
  }
  #demo{
    align-self: center;
  }
    #demoImage{
      margin:3rem;
    }
  #menu{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
    #menu li{
      /* flex: 1 0 50%;  */
      width:50%;
      display: flex;
      cursor: pointer;
      /* padding:0.3rem; */
      list-style:none;
      height:50%;
    }
    #menu li div{
      border-style:solid;
      border-width:0.5vw;
      border-radius: 0.7rem; 
      width:10vw;
      height:10vw;
      display:grid;
      align-content: center;
      text-align: center;
      /* transition: width 1s linear, height 1s linear; */

    }


    #menu #work{
      justify-content: flex-end;
      
      /* transition: all 1s ease-in-out; */
    }

      #menu #work div{
        align-self: flex-end;
        /* border-image:linear-gradient(-45deg, #C5102D , #DC832E 80%) 1; */
        border:none;
      }
        #menu #work svg{
          position:absolute;
          width:inherit;
          height:inherit;
          
        }
          /* #menu #work svg rect{
            fill: none;
            width:10vw;
            height:10vw; 
          }*/


    #menu #skill{
      justify-content: flex-start;
    }
      #menu #skill div{
        align-self:flex-end;
        border:none;
      }
        #menu #skill svg{
          /* position:absolute; */
          width:inherit;
          height:inherit;
          
        }
    #paint{
      justify-content: flex-end;
      
    }
      #paint div{
        align-self: flex-start;
      }
    #info{
      justify-content: flex-start;
      
    }
      #info div{
        align-self: flex-start;
      }

/* menu transition */
.menutransition{
  transition: width 1s linear, height 1s linear, flex 1s linear;
}
      