:root{
    --halfCircleSize :1.8rem;
    --halfCircleSizeEnd :1.5rem;
    --halfBarHeight :0.45rem;

    --halfCircleSize1400 :2rem;
    --halfCircleSizeEnd1400 :1.7rem;
    --halfBarHeight1400 :0.5rem;

    --halfCircleSize800 :1.8rem;
    --halfCircleSizeEnd800 :1.6rem;
    --halfBarHeight800 :0.4rem;
}



#skill .skillGroup .skillGraph {
    /* width: 96%; */
    height: calc(var(--halfCircleSize)*2);
    background: rgba(30,30,30, 0.8);
    padding: 0.5rem;
    box-sizing: content-box;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    position: relative;
}
    @media (max-width:800px){
        #skill .skillGroup .skillGraph {
            height: calc(var(--halfCircleSize800)*2);
        }
    }
    @media (min-width:1400px){
        #skill .skillGroup .skillGraph {
            height: calc(var(--halfCircleSize1400)*2);
        }
    }
#skill .skillGroup .skillGraph .skillContainer{
    height: 100%;
    width: 95%;
    display: flex;
    position: relative;
}
#skill .skillGroup .skillGraph .skillContainer .skillImage{
    position: absolute;
    /* display: flex;
    align-items: center; */
}
#skill .skillGroup .skillGraph .skillContainer .skillImage .nameSize{
    height: calc(var(--halfCircleSize)*2);
    width: calc(var(--halfCircleSize)*2);
        
    display: flex;
    justify-content: center;
    align-items: center;
}
    @media (max-width:800px){
        #skill .skillGroup .skillGraph .skillContainer .skillImage .nameSize{
            height: calc(var(--halfCircleSize800)*2);
            width: calc(var(--halfCircleSize800)*2);
        }
    }
    @media (min-width:1400px){
        #skill .skillGroup .skillGraph .skillContainer .skillImage .nameSize{
            height: calc(var(--halfCircleSize1400)*2);
            width: calc(var(--halfCircleSize1400)*2);
        }
    }
#skill .skillGroup .skillGraph .skillContainer .skillImage .nameSize .nameContainer{
    width: 85%;
    height: 85%;
    
    display: flex;  
    justify-content: center;
    align-items: center;
    background: rgb(30,30,30);
    border-radius: 2rem;
}
    @media (max-width:800px){
        #skill .skillGroup .skillGraph .skillContainer .skillImage .nameSize .nameContainer{
            width: 80%;
            height: 80%;
        }
    }
#skill .skillGroup .skillGraph .skillContainer .skillImage .nameSize .nameContainer p{
    display: none;
}
#skill .skillGroup .skillGraph .skillContainer .skillImage .nameSize .nameContainer img{
    height: 60%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* z-index: 2; */
}





#skill .skillGroup .skillGraph .skillContainer .skillShadowParent{
    position: absolute;
    height: calc(var(--halfCircleSize)*2);
    width: inherit;
    display: flex;
    align-items: center;
    z-index: -1;
}
    @media (max-width:800px){
        #skill .skillGroup .skillGraph .skillContainer .skillShadowParent{
            height: calc(var(--halfCircleSize800)*2);
        }
    }
    @media (min-width:1400px){
        #skill .skillGroup .skillGraph .skillContainer .skillShadowParent{
            height: calc(var(--halfCircleSize1400)*2);
        }
    }
#skill .skillGroup .skillGraph .skillContainer .skillShadow{
    position: relative;
    height:calc(var(--halfBarHeight) * 2);
    border-radius: var(--halfCircleSize);
    left:var(--halfBarHeight);
}
    @media (min-width:800px){
        #skill .skillGroup .skillGraph .skillContainer .skillShadow{
            border-radius: var(--halfCircleSize800);
        }
    }
    @media (min-width:1400px){
        #skill .skillGroup .skillGraph .skillContainer .skillShadow{
            border-radius: var(--halfCircleSize1400);
        }
    }




#skill .skillGroup .skillGraph .skillContainer .skillBar{
    width: 100%;
    height: 100%;
    /* z-index: 1; */
}
#skill .skillGroup .skillGraph .skillContainer .skillBar .bar{
    /* border-radius: inherit; */
    height: calc(var(--halfBarHeight) * 2);
}

/* #skill .skillGroup .skillGraph .skillContainer .skillBar circle{
    width:3rem;
} */
#skill .skillGroup .skillGraph .skillContainer .skillBar .barBG{
    /* position: absolute; */
    fill:#000000;
    opacity: 0.6;
    /* height: calc(var(--halfBarHeight) * 3); */
    /* width: 100%; */
    /* height: calc(var(--halfBarHeight)*2 ); */
}
#skill .skillGroup .skillGraph .skillContainer .percent{
    font-size: 1.3rem;
    fill: white;
    text-shadow:2px 2px 3px rgb(30,30,30);
    /* text-shadow:
    0 0.3px 1.8px rgba(30,30,30, 0.214),
    0 1.8px 9.2px rgba(30,30,30, 0.4),
    0 2.8px 14.2px rgba(30,30,30, 0.6),
    0 3.7px 19px rgba(30,30,30, 0.8)
  ; */
}
    @media (max-width:800px){
        #skill .skillGroup .skillGraph .skillContainer .percent{     
            font-size: 1.1rem;
        }
    }
    @media (min-width:1400px){
        #skill .skillGroup .skillGraph .skillContainer .percent{
            font-size: 1.5rem;
        }
    }




#skill .skillGroup .skillGraph .skillContainer .skillInfo{
    position: absolute;
    height: calc(var(--halfCircleSize800)*3);
    font-size: 1.3rem;
    color: black;
    display: flex;
    align-items: center;
    width: 100%;
}
    @media (max-width: 600px){
        #skill .skillGroup .skillGraph .skillContainer .skillInfo{
            font-size: 1rem;
            height: calc(var(--halfCircleSize800)*3);
        }
    }
    @media (min-width:800px){
        #skill .skillGroup .skillGraph .skillContainer .skillInfo{
            font-size: 0.95rem;
            height: calc(var(--halfCircleSize)*2);
        }
    }
    @media (min-width:950px){
        #skill .skillGroup .skillGraph .skillContainer .skillInfo{
            font-size: 1.25rem;
            height: calc(var(--halfCircleSize)*2);
        }
    }
    @media (min-width:1400px){
        #skill .skillGroup .skillGraph .skillContainer .skillInfo{
            font-size: 1.4rem;
            height: calc(var(--halfCircleSize1400)*2);
        }
    }

#skill .skillGroup .skillGraph .skillContainer .skillInfo > div{
    display: flex;
    align-items: center;
    position: relative;
    left: calc(var(--halfCircleSize)*2);
    width: calc(100% - var(--halfCircleSize)*2 - var(--halfCircleSizeEnd)*2);
}
    @media (max-width:800px){
        #skill .skillGroup .skillGraph .skillContainer .skillInfo > div {
            left: calc(var(--halfCircleSize800)*2);
            width: calc(100% - var(--halfCircleSize800)*2);
        }
    }
    @media (max-width:630px){
        #skill .skillGroup .skillGraph .skillContainer .skillInfo > div {
            flex-wrap: wrap;
        }
    }
    @media (min-width:1400px){
        #skill .skillGroup .skillGraph .skillContainer .skillInfo > div {
            left: calc(var(--halfCircleSize1400)*2);
            width: calc(100% - var(--halfCircleSize1400)*2 - var(--halfCircleSizeEnd1400)*2);
        }
    }
    
    #skill .skillGroup .skillGraph .skillContainer .skillInfo > div > div{
        display:flex;
        margin:auto;
    }
        @media (max-width:800px){
            #skill .skillGroup .skillGraph .skillContainer .skillInfo > div > div{
                flex-wrap:wrap;
            }
        }
        #skill .skillGroup .skillGraph .skillContainer .skillInfo > div > div .skillInfoContainer{
            display: flex;
            position: relative;
        }
            @media (max-width:800px){
                #skill .skillGroup .skillGraph .skillContainer .skillInfo > div > div .skillInfoContainer{
                    flex-basis: 100%;
                }
            }
            
                @media (max-width:800px){
                    #skill .skillGroup .skillGraph .skillContainer .skillInfo > div > div .skillInfoContainer .skillInfoText{
                        margin: auto;
                    }
                }

            #skill .skillGroup .skillGraph .skillContainer .skillInfo > div > div .skillInfoContainer div:first-child{
                position: relative;
                opacity: 0;
            }
                /* @media (max-width:600px){
                    #skill .skillGroup .skillGraph .skillContainer .skillInfo > div > div{
                        text-align: end;
                    }
                } */
            #skill .skillGroup .skillGraph .skillContainer .skillInfo > div > div .skillInfoContainer div:last-child{
                position: absolute;
                width: 100%;
                height: 100%;
                /* transform-origin: left; */
                transform: scaleY(0);
            }
            #skill .skillGroup .skillGraph .skillContainer .skillInfo > div > div .skillInfoNameContainer {
                margin-left: auto;
                margin-right:0.7rem;
            }
            #skill .skillGroup .skillGraph .skillContainer .skillInfo > div > div .skillInfoDateContainer {
                margin-right: auto;
            }


            #skill .skillGroup .skillGraph .skillContainer .skillInfo > div > div .skillInfoBG{
                border-radius: 0.3rem;
            }

            

            #skill .skillGroup .skillGraph .skillContainer .skillInfo > div > div .skillInfoNameContainer .skillInfoName{
                font-weight:700;
            }
            #skill .skillGroup .skillGraph .skillContainer .skillInfo > div > div .skillInfoDateContainer .skillInfoDate{
                /* font-size: 1.4rem; */
            }





.barShadowAni{
    box-shadow:
    0 0px 2.1px rgb(225, 225, 0),
    0 0px 3.5px rgb(225, 225, 0),
    5px 0px 5.1px rgb(225, 225, 0),
    -5px 0px 7.1px rgb(225, 225, 0),
    10px 0px 9.6px rgb(225, 225, 0),
    -10px 0px 13.6px rgb(225, 225, 0),
    15px 0px 17.2px rgb(225, 225, 0),
    -15px 0px 19.7px rgb(225, 225, 0),
    20px 0px 32.2px rgb(225, 225, 0),
    -20px 0px 57.7px rgb(225, 225, 0),
    0 0px 77px rgb(225, 225, 0);
  
    animation:animate 4s linear infinite;
}
@keyframes animate{
    0%{
      filter:hue-rotate(0)
    }
    100%{
      filter:hue-rotate(360deg)
    }
  }