/** If you have any questions, email me.
/**
 * Table of Contents:
 * 1.0 - GroupedImages
 * 2.0 - AlinedImages
 * ----------------------------------------------------------------------------
 */




/**
 * 1.0 GroupedImages
 * ----------------------------------------------------------------------------
 */

.projects{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px,1fr));
  background: rgb(10, 10, 10, 0.7);
  padding:0.7vw;
}
@media (max-width:800px){
  .projects{
    padding:0.3vw;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
  }
}
.projects img,iframe{
  border-radius: 1vw;
}


  .mainContent{
    max-width:100%;
    grid-row: span 2;
    grid-column: span 2;
  }
  .subContent{
    max-width:100%;
  }



/**
 * 2.0 - AlinedImages
 * ----------------------------------------------------------------------------
 */

.alinedImagesChild{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  /* grid-gap:0.3vw; */
  padding: 0.5vw;
  grid-gap: 0.3vw;
  background: rgba(10, 10, 10, 0.7);
}
  @media (max-width:800px){
    .alinedImagesChild{
      grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    }
  }
  @media (min-width:2500px){
    .alinedImagesChild{
      grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
      grid-gap: 0.3rem;
    }
  }

  .alinedImagesChild .content{
    box-sizing: initial;
  }
  .alinedImagesChild img,iframe{
    border-radius: 0.7rem;
    /* padding: 0.1vw; */
    width: 100%;
    height: auto;
    /* height:-webkit-fill-available; */
    /* object-fit: cover; */
  }
    @media (max-width:800px){
      .alinedImagesChild img,iframe{
        border-radius: 0.5rem;
      }
    }
    
  .alinedImagesChild div{
    position: relative;
    /* border-radius: 20px; */
    /* object-fit: cover; */
    padding: 28.125% 0; 
  }
  .alinedImagesChild div iframe{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
  }