*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
:root{
  --topTileHeight:7vw;
}
  @media (max-width:800px){
    :root{
      --topTileHeight:13vw;
    }
  }
  @media (min-width:1100px){
    :root{
      --topTileHeight:77px;
    }
  }
body,html{
  width: 100%;
  height: 100%;
}

#body{
  background:rgba(11, 11, 11, 1);
  color:white;
  box-sizing: border-box;
  /* padding:5px; */
}

/*   Fonts   */
div{
  font-family: 'Text Me One', sans-serif;
}
  #topMenu{
    display: flex;
    width:100%;
    height:var(--topTileHeight);
  }
    #topMenu > div{
      width: 50%;
    }
    #topMenu #name{
      text-align: end;
      margin-left: auto;
      margin-right: auto;
      flex-shrink: 1;
    }
    @media (max-width:800px){
      #topMenu #name{
        width: 100%;
        text-align: center;
        height:calc(60px +4vw);
      }
    }
    #topMenu #name p{
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
    #topMenu #name p:first-child{
      font-size: 7.5vw;
      font-family: 'Poiret One', cursive;
    }

    #topMenu #name p:last-child{
      font-size: 3.4vw;
      font-family: 'Dosis', sans-serif;
      
      position: relative;
      top:-1vw
    }
      @media (max-width:800px){
        #topMenu #name p{
          display: inline;
        }
        #topMenu #name p:first-child{
          font-size: 11vw;
        }
        #topMenu #name p:last-child{
          font-size: 4vw;
          top:0px;
        }
      }
      @media (min-width:1100px){
        #topMenu #name p:first-child{
          font-size: 82px;
        }
        #topMenu #name p:last-child{
          font-size: 37px;
        }
      }
    #topMenu #menu{ 
      list-style: none;
      font-family: 'Poiret One', cursive;
      font-size: 23px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding: 20px 4vw 20px 4vw;
    }
    @media (max-width:800px){
      #topMenu #menu{
        display: none;
      }
    }
  #bottom{
    height: calc(100% - var(--topTileHeight));
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
    #bottom #demo, #bottomMenu{
      width:50%;
      /* height: 100%; */
    }
    @media (max-width:800px){
      #bottom #demo,#bottomMenu{
        width:100%;
      }
    }
    #bottom #demo{
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: column;
    } 
    @media (max-width:800px){
      #bottom #demo{
        /* margin: 1vw 0 1vw 0; */
        width: 100%;
      }
    }

    #bottom #demo #demoVideo{
        width: 67%;
        margin: auto;
        box-sizing: content-box;
        position: relative;
        --borderWidth: 0.5vw;
      }
      @media (max-width:800px){
        #bottom #demo #demoVideo{
          width: 80%;
          --borderWidth: 0.7vw;
        }
      }
        #bottom #demo #demoVideo iframe{
          width:100%;
          height:100%;
          border-radius: 5px;
        }

        #bottom #demo #demoVideo div{
          position: absolute;
          top:0;
          left:0;
          z-index: -1;
          top: calc(-1 * var(--borderWidth));
          left: calc(-1 * var(--borderWidth));
          height: calc(100% + var(--borderWidth) * 2);
          width: calc(100% + var(--borderWidth) * 2);
          background: linear-gradient(60deg, #f71c69, #37a6f6, #faa847, #bf94a2, #a68312, #7eaee4, #83072d);
          border-radius: 5px;
          background-size: 300% 300%;
          filter: contrast(1.5);
          mix-blend-mode: hard-light;
          animation: animatedgradient 3s ease alternate infinite;
        }  
        @media (max-width:800px){
          #bottom #demo #demoVideo div{
            filter: none;
          }
        }
        @keyframes animatedgradient {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        } 
      #bottom #demo img{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
      @media (max-width:800px){
        #bottom #demo img{
          display: none;
        }
      }
      
      #bottom #bottomMenu{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-grow: 1;
        flex-shrink: 0;
        /* padding: 2vw; */
      }
      @media (max-width:800px){
        #bottom #bottomMenu{
          padding: 2vw;
        }
      }
        #bottom #bottomMenu li{
          width:50%;
          display: flex;
          cursor: pointer;
          padding :0.8vw;
          list-style:none;
          height:50%;
          position: relative;
        }
        @media (max-width:800px){
          #bottom #bottomMenu li{
            padding :1.2vw;
          }
        }
        @media (min-width:1100px){
          #bottom #bottomMenu li{
            padding :9.3px;
          }
        }
        #bottom #bottomMenu li .borders{
          width:10vw;
          height:10vw;
          display:grid;
          text-align: center ;
          position: relative;
          font-size:2vw;
          align-items: center;
        }
        @media (max-width:800px){
          #bottom #bottomMenu li .borders{
            font-size: 3.5vw;
            width: 18vw;
            height: 18vw;
          }
        }
        @media (min-width:1100px){
          #bottom #bottomMenu li .borders{
            font-size: 22px;
          }
        }
        #bottom #bottomMenu li .borders:hover{
          border-radius: 10px;
          box-shadow:
          0 0px 1px rgba(255, 255, 255, 0.404),
          0 0px 3.4px rgba(255, 255, 255, 0.596),
          0 0px 15px rgba(255, 255, 255, 1),
          inset 0 0px 1px rgba(255, 255, 255, 0.404),
          inset 0 0px 3.4px rgba(255, 255, 255, 0.596),
          inset 0 0px 15px rgba(255, 255, 255, 1);
        
        }
          #bottom #bottomMenu li .borders svg{
            position: absolute;
          }
          
            #bottom #bottomMenu li .borders svg rect{
              stroke-width: 0.5vw;
            }
            @media (max-width:800px){
              #bottom #bottomMenu li .borders svg rect{
                stroke-width: 0.8vw;
              }
            }
            @media (min-width:1100px){
              #bottom #bottomMenu li .borders svg rect{
                stroke-width: 5.5px;
              }
            }
          #bottom #bottomMenu li .borders .text{
            position: relative;;
          }
          
          #bottom #bottomMenu #work{
            justify-content: flex-end;
          }
          #bottom #bottomMenu #work .borders{
            align-self: flex-end;
            border:none;
          }
        
        #bottom #bottomMenu li .contents{
          position: absolute;
          top: 0;
          left: 0;
        }


        #bottom #bottomMenu #skill{
          justify-content: flex-start;
        }
          #bottom #bottomMenu #skill .borders{
            align-self:flex-end;
            border:none;
          }


        #bottom #bottomMenu #paint{
          justify-content: flex-end;
          
        }
          #bottom #bottomMenu #paint .borders{
            align-self: flex-start;
            border:none;
          }


        #bottom #bottomMenu #info{
          justify-content: flex-start;
          
        }
        #bottom #bottomMenu #info .borders{
            align-self: flex-start;
            border:none;
          }



/* additional css for js */
.menutransition{
  transition: width 1s linear, height 1s linear, flex 1s linear;
}
.blurSVG{
  filter:blur(3px);
}
      