/** If you have any questions, email me.
/**
 * Table of Contents:
 * 1.0 - Basic Structure
 * 2.0 - Font
 * 3.0 - Master
 * 4.0 - Demo and Menu
 * 5.0 - Demo
 *   5.1 - Logo
 *   5.2 - DemoVideo
 *   5.3 - Demo Icons
 *   5.4 - DemoSVG
 * 6.0 - Menu
 *   6.1 - LI
 *      6.1.1 - svgFramePack
 *      6.1.2 - Contents
 * 7.0 - Media Query
 * ----------------------------------------------------------------------------
 */ 




/**
 * 1.0 Basic Structure
 * ----------------------------------------------------------------------------
 */
 

@import "./variableCss.module.scss";


@mixin getDemoVideoBgCSSAnim ($bordersize){
  top: (-1 * $bordersize);
  left: (-1 * $bordersize);
  height: calc(100% + #{$bordersize} * 2);
  width: calc(100% + #{$bordersize} * 2);
  background: linear-gradient(60deg, #f71c69, #37a6f6, #faa847, #bf94a2, #a68312, #7eaee4, #83072d);
  border-radius: 5px;
  background-size: 300% 300%;
  filter: contrast(1.5);
  mix-blend-mode: hard-light;
  animation: animatedgradient 3s ease alternate infinite;
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } 
}



/**
 * 2.0 Font
 * ----------------------------------------------------------------------------
 */


#demo #demoIcons{
  font-family: 'Jost', sans-serif;
}

#menu > li .svgFramePack{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 300;
  font-size: 3vw;
  color:white;
}
@media (max-width:800px){
  #menu > li .svgFramePack{
    font-size: 1.8rem;
  }
}
@media (min-width:1400px){
  #menu > li .svgFramePack{
    font-size: 2.5rem;
  }
}





/**
 * 3.0 Master
 * ----------------------------------------------------------------------------
 */


#master{
  width: 100%;
  height: 100%;
  min-width: $masterMinWidth;
  // max-width: $masterMaxWidth;
  min-height: $masterMinHeight;
  margin: auto;
  box-sizing: border-box;
  display:flex;
}

@media (max-width:800px){
  #master{
    display: grid;
    grid-template-rows:auto 1fr;
  }
}






/**
 * 4.0 Demo and Menu
 * ----------------------------------------------------------------------------
 */    

#demo, #menu{
  width:50%;
  // pointer-events: none;
}
  @media (max-width:800px){
    #demo,#menu{
      width:100%;
    }
  }



/**
 * 5.0 Demo
 * --------------------------------------
 */      


      
#demo{
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  padding: 2% 0;
  /* height: 100%; */
}

@media (max-width:800px){
  #demo{
    width: 100%;
    grid-template-rows: 1fr auto;
    padding: 0%;
  }
}


/**
 * 5.1 Logo
 * ------------------
 */      

#demo #logo{
  position: relative; 
  align-self: end;
  justify-self: center;
  padding-bottom: 10%;
  width: $logoWidth;
  cursor: pointer;

  img{
    width: 100%;
    height: 100%;
  }
}
  @media (max-width:800px){
    #demo #logo{
      width: $logoWidth800;
      padding: 1rem 0;

      #logo_heigher{
        display: none;
      }
      #logo_wider{
        display: initial;
      }
    }
  }



/**
 * 4.2 - DemoVideo
 * ------------------
 */  

  #demo #demoVideo{
    width: $demoVideoWidth;
    margin: auto;
    box-sizing: content-box;
    position: relative;
    iframe{
      width:100%;
      height:100%;
      border-radius: 5px;
    }
    #demoVideoBgCSSAnim{
      height: inherit;
      position: absolute;
      z-index: -1;
      @include getDemoVideoBgCSSAnim(8px);
    } 
  }
    @media (max-width:800px){
      #demo #demoVideo{
        width: $demoVideoWidth800;
        #demoVideoBgCSSAnim{
          filter: none;
        }
      }
    }

/**
 * 4.3 - Demo Icons
 * ------------------
 */ 
  #demo #demoIcons{
    display: initial;
    width: $demoVideoWidth - 20%;
    margin: 1rem auto auto auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    >div{
      margin: 0.3rem 0.5rem;
      color: rgba(255,255,255,0.6);

      .icon{
        width:1.3rem;
        height:1.3rem;
      }
      &:hover{
        color:white;
      }
    }
    
  }
  @media (max-width:800px){
    #demo #demoIcons{
      display: none;
    }
  }

/**
 * 5.4 - DemoSVG
 * ------------------
 */ 
  #demo #demoSVG{
    content: '';
    // background: url(/assets/images/logo/demoSVG_v08.svg) no-repeat center;
    //this one went to globals.scss
    filter:blur(3px);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  @media (max-width:800px){
    #demo #demoSVG{
      display: none;
    }
  }

  .blurSVG{
    filter:blur(3px);
  }
  





/**
 * 6.0 Menu
 * --------------------------------------
 */    
 
 
#menu{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 0;

    /**
    * 6.1 - LI
    * --------------------------------------
    */  
    #work .svgFramePack{
        margin-left: auto;
        align-self: flex-end;
    }
    #skill .svgFramePack{
        margin-right: auto;
        align-self:flex-end;
    }
    #paint .svgFramePack{
        margin-left: auto;
        align-self: flex-start;
    }
    #info .svgFramePack{
        margin-right: auto;
        align-self:flex-start;
    }
  

    > li{
        display: flex;
        cursor: pointer;
        padding: $liPadding;
        list-style:none;
        position: relative;
        

        /**
        * 6.1.1 - svgFramePack
        * --------------------------------------
        */ 
        .svgFramePack{
        position: relative;
        background: rgba(30,30,30,0.8);
        display:grid;
        text-align: center ;
        position: relative;
        align-items: center;

            .menuText{
                position: relative;
            }
            .neon{
                position: absolute;
                width: inherit;
                height: inherit;
                border-radius: inherit;
                top:0;
                left:0;
            }
            svg{
                position: absolute;
            }
        }
        
        /**
        * 6.1.2 - Contents
        * --------------------------------------
        */ 
        .contents{
            position: absolute;
            top: 20px;
            left: 20px;
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            overflow-y: auto;
            overflow-x: hidden;
            padding: 0.4rem;
            z-index: -1;
          
            background:rgba(30,30,30,0.8);
            color:white;
            display: none;
      
            &::-webkit-scrollbar{
              width: $LiScrollbarWidth;
              border: black 2px solid;
            }
            &::-webkit-scrollbar-thumb {
              border-radius: 4px;
              background: rgba(255,255,255, 0.5);
              border: white solid 2px;
            }
            &::-webkit-scrollbar-track {
              background: linear-gradient(#d4742b,#dc3323);
            }
        }
    }
}


/**
 * 7.0 Media Query
 * --------------------------------------
 */   
#menu{
  padding: $menuPadding;
}

@media (max-width:800px){
  #menu{
    padding: $menuPadding800;
  }
}

@media (max-width:800px){
  #menu > li{
    padding : $liPadding800;
  }
}
@media (min-width:1400px){
  #menu > li{
    padding : $liPadding1400;
  }
}









      