/** If you have any questions, email me.
/**
 * Table of Contents:
 * 1.0 - GroupedImages
 * 2.0 - AlinedImages
 * ----------------------------------------------------------------------------
 */
  @import "./variableCss.module.scss";

  $closeDivSize : 70px;
  $openProjectmaxWidth: 1600px;
  $iconSize: 2vw;
  
  /**
   * 2.0 - AlinedImages
   * ----------------------------------------------------------------------------
   */
  #openProject{
    z-index: 4;
    width: 100%;
    height:100%;
    background: rgba(30,30,30,0.85);
    position: absolute;
    top:0;
    left:0;
    display: none;
    text-align: center;
    padding: 70px 10vw;
    min-width: $masterMinWidth;

    .title{
      font-family: 'theboldfont';
      font-size: 6vw;
      letter-spacing:2px;
      word-spacing: 10px;
      // color: transparent;
      // -webkit-text-stroke: 1px white;
    }

    .imgs{
      width:100%; 
      max-width: $openProjectmaxWidth;
      margin: auto;
      img{
        width:100%;
      }
    }
    .skillIcons{
      width:100%;
      display: flex;
      > div{
        display: flex;
        position: relative;
        border-radius: $iconSize * 9.5;
        padding: 0.5%;
        // margin: auto;
        // text-align: center;

        > div:first-child{
          background: rgb(30,30,30);
          width: $iconSize*2;
          height: $iconSize*2;
          // width: $iconSize*2 * 0.85;
          // height: $iconSize*2 * 0.85;
          // left: -$iconSize * 0.85;
          // margin:10%;
          margin: auto;
          border-radius: 50%;
          display: flex;
          position: relative;
          // display: inline;

          // text-align: center;
         
          img{
            width: 60%;
            height: 60%;
            margin: auto;
          }
        }
        > div:last-child{
          font-family: 'Text Me One', sans-serif;
          font-weight: 300;
          font-size: $iconSize*1.5;
          margin: auto;
          padding: 0 $iconSize*0.3;
        }
      }
    }
    
    #closeDiv{
      position: fixed;
      top: 0;
      width: $closeDivSize;
      height: $closeDivSize;
      overflow: hidden;
      display: flex;

      // border-radius: 50%;

      #closeDivBotton {
        // position: relative;
        width: 62%;
        height: 70%;
        display: inline-block;
        // overflow: hidden;
        cursor: pointer;
        border-radius: 50%;
        padding:3px;
        margin: auto;
        
        animation: animCloseButton 3s ease-in-out infinite;

        &:hover{
          animation: bigger 0.1s ease-in-out forwards;
        }
        > div{
          width:100%;
          height: 100%;
          background: rgb(30,30,30);
          border-radius: 50%;
        }
        #closeDivBottonBG{
          width:100%;
          height: 100%;
          background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
          // background: blue;
          border-radius: 50%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          animation: rotate 1.5s linear infinite;
  
        }
        #closeDivBottonBG::before{
          content: "";
          width:100%;
          height: 100%;
          background: inherit;
          border-radius: 50%;
          filter: blur(5px);
          position: absolute;
          top: 0;
          left: 0;
          z-index: -2;
        }
      }
      #closeDivBotton::before, #closeDivBotton::after {
        content: "";
        position: absolute;
        height: 5px;
        // width: 100%;
        // // width: 100%;
        // top: 50%;
        // left: 0;
        margin-top: -1px;
        background: ivory;
        border-radius: 5px;
        top: calc(50% - 1px);
        width:60%;
        left: 20%;
      }
      #closeDivBotton::before {
        content: "";
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      #closeDivBotton::after {
        content: "";
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      


    }
    
    @media (max-width:600px){
      .title{
        font-size:30px;
        letter-spacing: 0px;
        word-spacing: 8px;
      }
    }
    @media (min-width:2000px){
      .title{
        font-size:80px
      }
    }
  }
  @keyframes animCloseButton {
    0%{
      transform: rotate(0deg);
    }
    90%{
      transform: rotate(0deg);
    }
    91%{
      transform: rotate(10deg);
    }
    94%{
      transform: rotate(-10deg);
    }
    97%{
      transform: rotate(10deg);
    }
    99%{
      transform: rotate(-10deg);
    }
    100%{
      transform: rotate(0deg);
    }
  }
  @keyframes rotate {
    0%{
      transform: rotate(0deg);
    }
    50%{
      transform: rotate(180deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  @keyframes bigger {
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(1.1);
    }
  }
  .alinedImages{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    padding: 0.5vw;
    grid-gap: 0.3vw;
    background: rgba(10, 10, 10, 0.7);
    

    
    .mainContent{
      max-width:100%;
      grid-row: span 2;
      grid-column: span 2;
    }
    .subContent{
      max-width:100%;
    }
  
    .content{
      box-sizing: initial;
      border-radius: 0.7rem;
    }
    img,iframe{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    > .videos{
      position: relative;
      /* border-radius: 20px; */ 
      /* object-fit: cover; */
      padding: 28.125% 0; 
      iframe{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
      }
    }
    @media (max-width:800px){
      .alinedImages{
        grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
        img,iframe{
          border-radius: 0.5rem;
        }
      }
    }
    @media (min-width:2500px){
      .alinedImages{
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
        grid-gap: 0.3rem;
      }
    }
  }
  


