/** If you have any questions, email me.
/**
 * Table of Contents:
 * 1.0 - Basic Structure
 * 2.0 - Font
 * 3.0 - Each Skills (class = 'skillTrunk')
 *   3.1 Skill Icon Image
 *   3.2 Skill Graph (SVG Graph)
 *   3.3 Skill Info
 * 4.0 - Media Query
 *   4.1 Skill Icon Image
 *   4.2 Skill Graph (SVG Graph)
 *   4.3 Skill Info
 * ----------------------------------------------------------------------------
 */ 


   
/**
  * 1.0 Basic Structure
  * ----------------------------------------------------------------------------
  */


 @import "./variableCss.module.scss";


  
  
/**
  * 2.0 Font
  * ----------------------------------------------------------------------------
  */

  
  #skill{
    font-family: 'Jost', sans-serif;

    .skillRoot .skillTrunk {
      .skillBranch {
        .skillGraph{
          .percent{
            font-size: 1.3rem;
            fill: white;
            text-shadow:2px 2px 3px rgb(20,20,20);
          }
        }
        .skillInfo{
          font-size: 1.3rem;
          color: black;
          > div{
            .skillInfo_Name {
              .skillInfoName{
                font-weight:700;
              }
            }
          }
        }
        .skillInfo_Date{
          font-size: 1.2rem;
        }
      }
    }
  }
  @media (max-width:800px){
    #skill{
      .skillRoot .skillTrunk {
        .skillBranch {
          .skillGraph{
            .percent{
              font-size: 1.2rem;
            }
          }
          .skillInfo{
            .skillInfo_Name{
              font-size: 1.1rem;
            }
            .skillInfo_Date{
              font-size: 1.0rem;
            }
          }
        }
      }
    }
  }
  @media (max-width:1000px){
    #skill{
      .skillRoot .skillTrunk {
        .skillBranch {
          .skillInfo{
            font-size: 1.1rem;
          }
          .skillInfo_Date{
            font-size: 1.0rem;
          }
        }
      }
    }
  }
  @media (min-width:1400px){
    #skill{
      .skillRoot .skillTrunk {
        .skillBranch {
          .skillGraph{
            .percent{
              font-size: 1.5rem;
            }
          }
          .skillInfo{
            font-size: 1.4rem;
          }
          .skillInfo_Date{
            font-size: 1.3rem;
          }
        }
      }
    }
  }



/**
  * 3.0 Each Skills (class = 'skillTrunk')
  * ----------------------------------------------------------------------------
  */
.skillRoot {
  .skillTrunk {
    background: rgba(30,30,30, 0.8);
    padding: 0.5rem;
    box-sizing: content-box;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    position: relative;

    .skillBranch {
      height: 100%;
      width: 95%;
      display: flex;
      position: relative;
        
      /**
      * 3.1 Skill Icon Image
      * --------------------------------------
      */
      .skillImage{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        > div {
          display: flex;  
          justify-content: center;
          align-items: center;
          background: rgb(30,30,30);
          border-radius: 2rem;
          p{
            display: none;
          }
          .image{
            height: 60%;
            width: 60%;
          }
        }
      }
      /**
      * 3.2 Skill Graph (SVG Graph)
      * --------------------------------------
      */
      .skillGraph{
        width: 100%;
        height: 100%;
        .barBG{
          fill:#000000;
          opacity: 0.6;
        }
      }
      /**
      * 3.3 Skill Info
      * --------------------------------------
      */
      .skillInfo{
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        > div{
          display: flex;
          align-items: center;
          position: relative;
          > div{
            display:flex;
            margin:auto;
            ._skillInfo{
              display: flex;
              position: relative;
              div:first-child{
                position: relative;
                opacity: 0;
              }
              div:last-child{
                position: absolute;
                width: 100%;
                height: 100%;
                transform: scaleY(0);
              }
            }
            .skillInfo_Name {
              margin-left: auto;
              margin-right:0.7rem;

            }
            .skillInfo_Date {
              margin-right: auto;
            }
            .skillInfoBG{
              border-radius: 0.3rem;
            }
          }
        }
      }
    }
  }
}



/** 
  * 4.0 Media Query
  * ----------------------------------------------------------------------------
  */
.skillRoot {
  .skillTrunk {
    height: #{$halfCircleSize*2};
    .skillBranch{

      .skillImage{
        height: #{$halfCircleSize*2};
        width: #{$halfCircleSize*2};
        > div {
          width: 85%;
          height: 85%;
        }
      }
      .skillInfo{
        > div {
          left: #{$halfCircleSize*2};
          width: calc(100% - #{$halfCircleSize*2} - #{$halfCircleSizeEnd*2});
        }
      }
    }
  }
}
@media (max-width:800px){
  .skillRoot {
    .skillTrunk {
      height: #{$halfCircleSize800*3};
      .skillBranch{

        .skillImage{
          height: #{$halfCircleSize800*2};
          width: #{$halfCircleSize800*2};
          > div {
            width: 83%;
            height: 83%;
          }
        }
        .skillInfo{
          > div {
            left: #{$halfCircleSize800*2};
            width: calc(100% - #{$halfCircleSize800*2});
            > div{
              flex-wrap:wrap;
              ._skillInfo{
                flex-basis: 100%;
                .skillInfoText{
                  margin: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

  @media (min-width:1400px){
    .skillRoot {
      .skillTrunk {
        height: #{$halfCircleSize1400*2};
        .skillBranch{

          .skillImage {
            height: #{$halfCircleSize1400*2};
            width: #{$halfCircleSize1400*2};
          }
          .skillInfo{
            > div {
              left: #{$halfCircleSize1400*2};
              width: calc(100% - #{$halfCircleSize1400*2} - #{$halfCircleSizeEnd1400*2});
            }
          }
        } 
      }
    }
  }


  
