@import "./variableCss.module.scss";


  #threeJSCanvas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
  }
#threeJSCover{
  width:100%;
  height:100%;
  background:rgb(30, 30, 30);
  position: fixed;
  left:0;
  top:0;
  z-index: -2;
}