
// $demoBorderWidth: 0.6vw;
$backgroundColor: rgb(30,30,30);

$demoVideoWidth:67%;
$demoVideoWidth800: 80%;

$logoWidth: 60%;
$logoWidth800: 50%;
// $demoVideoBgCSSAnimBorderSize: 8px;

$masterMinWidth : 400px;
$masterMaxWidth : 1400px;
$masterMinHeight: 700px;

$LiScrollbarWidth: 8px;

$menuPadding: 30px 30px 30px 0px;
$menuPadding800: 1rem;
$liPadding: 0.85vw;
$liPadding800: 0.5rem;
$liPadding1400: 0.8rem;


$halfCircleSize :1.8rem;
$halfCircleSizeEnd :1.5rem;
$halfBarHeight :0.45rem;

$halfCircleSize1400 :2rem;
$halfCircleSizeEnd1400 :1.7rem;
$halfBarHeight1400 :0.5rem;

$halfCircleSize800 :1.8rem;
$halfCircleSizeEnd800 :1.6rem;
$halfBarHeight800 :0.4rem;


:export{
  masterMinWidth: $masterMinWidth;
  masterMaxWidth: $masterMaxWidth;
  masterMinHeight: $masterMinHeight;
  demoVideoWidth: $demoVideoWidth;
  demoVideoWidth800: $demoVideoWidth800;
  logoWidth: $logoWidth;
  logoWidth800: $logoWidth800;
  menuPadding: $menuPadding;
  menuPadding800: $menuPadding800;
  liPadding: $liPadding;
  liPadding800: $liPadding800;
  liPadding1400: $liPadding1400;
  
  halfCircleSize: $halfCircleSize;
  halfCircleSizeEnd: $halfCircleSizeEnd;
  halfBarHeight: $halfBarHeight;
  halfCircleSize1400: $halfCircleSize1400;
  halfCircleSizeEnd1400: $halfCircleSizeEnd1400;
  halfBarHeight1400: $halfBarHeight1400;
  halfCircleSize800: $halfCircleSize800;
  halfCircleSizeEnd800: $halfCircleSizeEnd800;
  halfBarHeight800: $halfBarHeight800;
}