
// $demoBorderWidth: 0.6vw;
$demoVideoWidth:67%;
$demoVideoWidth800: 80%;

$logoWidth: 60%;
$logoWidth800: 50%;
// $demoVideoBgCSSAnimBorderSize: 8px;

$masterMinWidth : 400px;
$masterMaxWidth : 1400px;
$masterMinHeight: 700px;

$LiScrollbarWidth: 8px;

:export{
  masterMinWidth: $masterMinWidth;
  masterMaxWidth: $masterMaxWidth;
  masterMinHeight: $masterMinHeight;
  demoVideoWidth: $demoVideoWidth;
  demoVideoWidth800: $demoVideoWidth800;
  logoWidth: $logoWidth;
  logoWidth800: $logoWidth800;
}